.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.nbconvert/

.DS_Store
Thumbs.db
.vscode/
.idea/

data/
data/raw/
data/interim/
data/processed/

models/

reports/figures/**
!reports/figures/cm_*.png
!reports/figures/exemplos_inferencia/
!reports/figures/exemplos_inferencia/*.png

reports/pred_counts.csv

*.log